

.App {
  text-transform: uppercase;
}

.Login {
  /* border: 1px red solid; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 250px; */
  gap: 10px;
  align-items: center;
  color: white;
  background-color: var(--clr-background-500);
  overflow: hidden;
}

.Login a, form {
  z-index: 1;
}

.login-container {
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

}

.login-container h2 {
  font-size: 36px;
  color: var(--clr-primary-100);
}

.login-container h3 {
  font-size: 30px;
  font-weight: 500;
  color: var(--clr-primary-300)
}

.login-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.festify-title {
  animation: appear 2s;
  animation-iteration-count: 1;
}

@keyframes appear {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
  }

.login-text-container{
  animation: appear 3s;
  animation-iteration-count: 1;
  }

/* @keyframes appear {
  0% {opactiy: 0%;}
  100% {opacity: 100%;}
  } */


#spotifyLogo {
  margin: 10px;
  height: 4rem;
}


.festify-title-container {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-end; */
  /* height: 10vh; */
  letter-spacing: 0rem;
  line-height: 2;
  margin-bottom: -50px;
}

.festify-title {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 140px;
}



#search-container {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#search-container input {
  background-color: var(--clr-primary-300);
  border: none;
  height: 50px;
  width: 600px;
  border-radius: 10px;
  font-size: 20px;
  padding: 20px;
  color: white;
}

textarea:focus, input:focus{
    outline: none;
    caret-color: white;
}

::placeholder {
  color: var(--clr-primary-100);
}


.header {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--clr-background-500);
  color: var(--clr-text-white);
  padding: 10px 60px 10px 120px;
  /* border-bottom: 1px var(--clr-primary-300) solid; */
}

#header-festify {
  /* border: 1px blue solid; */
  height: 20px;
  display: flex;
  justify-content: flex-start;
  margin-top: -20px;
}

#header-festify-text {
  /* border: 1px blue solid; */
  /* font-size: 120px; */
}

#header-festify-text:hover {
  cursor: pointer;
}

.header-festival {
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.header h1 {
  font-size: 88px;
  font-weight: 600;
}

.header h3 {
  font-size: 32px;
  font-weight: 400;
  color: var(--clr-text-white)
}

.main-page {
  animation: appear 3s;
  animation-iteration-count: 1;
}

.dashboard {
  /* border: 1px blue solid; */
  background-color: var(--clr-background-500);
  color: var(--clr-text-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 50px;
  text-transform: uppercase;
}

.dashboard-left {
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 40px 0px;
  width: 27%;
}

.buttons {
  /* border: 1px red solid; */
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  /* width: 600px; */
  margin: 0 0 10px 0;
}

.buttons button {
 
  height: 40px;
  border: none;
  border-radius: 10px;
  text-align: left;
  padding: 0px 10px;
  font-size: 20px;
  color: var(--clr-text-primary);
  background-color: var(--clr-background-500);
  border: 1px var(--clr-primary-300) solid;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

.playlist-button {
  /* background-color: var(--clr-primary-400); */
   width: 140px;
}

.lineup {
  /* border: 1px red solid; */
  overflow: scroll;
  padding: 0px 20px;
  height: 500px;
}


.filter-button {
  /* background-color: var(--clr-background-300); */
  width: 140px;
}

.filter-search {
  /* border: 1px red solid; */
  border-left: 1px var(--clr-primary-400) solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 20px;
  font-size: 34px;
  /* width: 50%; */
}

/* .lineup {
  border: 1px red solid;
}

.artist-item {
  border: 1px green solid;
} */

#shuffle-filter-button {
  color: var(--clr-text-primary);
  font-weight: 500;
}

#shuffle-filter-button:hover {
  cursor: pointer;
  color: var(--clr-text-white)
}

.filter-option:hover { 
  cursor: pointer;
  color: var(--clr-text-primary)
}

.filter-option {
  color: var(--clr-primary-400);
  font-weight: 500;
  font-size: 28px;
  /* display: none; */
}

.filter-search .selected-filter {
  color: var(--clr-text-primary);
}

.filter-search {
  margin-bottom: 10px;
}

.genre-option {
  color: var(--clr-text-muted);
  font-weight: 400;
  font-size: 24px;
  padding-left: 10px;
}

.genre-option:hover {
  cursor: pointer;
  color: var(--clr-text-primary)
}

.lineup p {
  font-size: 34px;
  color: var(--clr-text-muted);
}

.lineup p:hover {
  cursor: pointer;
}

.lineup .artist-selected {
  color: var(--clr-text-white)
}

.lineup .artist-name:hover {
  color: var(--clr-text-primary);
}

.lineup .artist-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.lineup .add-remove {
  /* color: var(--clr-background-500); */
  color: var(--clr-primary-400);
  font-size: 20px;
}

.lineup .artist-deleted {
  text-decoration: line-through;
  text-decoration-thickness: 0.3rem;
  color: var(--clr-primary-400)
}

.artist {
  /* border: 1px  blue solid; */
  padding: 20px;
  width: 40%;
}

.artist img {
  height: 600px;
  opacity: 70%;
  filter: saturate(70%);
  margin: 10px 40px 10px 40px;
  animation: grow 5s linear;
  animation-iteration-count: infinite;
}

@keyframes grow {
  0% {transform: scale(0.97)}
  50% {transform: scale(1)}
  100% {transform: scale(0.97)}
  }



.artist-container {
  /* border: 1px blue solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: var(--clr-text-primary);
}

.artist h2 {
  font-size: 34px;
  color: var(--clr-text-white)
}

.dashboard-right {
  /* border: 1px red solid; */
  margin-top: 60px;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  width: 27%;
  color: var(--clr-text-muted);
  font-size: 22px;
}

.dashboard-right h3 {
  color: var(--clr-text-white);
  font-weight: 500;
}

.tracks {
  /* border: 1px  green solid; */
  /* border-bottom: 1px var(--clr-primary-300) solid; */
  /* border-right: 1px var(--clr-primary-300) solid; */

}

.tracks p:hover {
  cursor: pointer;
}

.tracks .track-selected {
  color: var(--clr-text-primary);
  animation: playing 1.8s;
  animation-iteration-count: infinite;
}

@keyframes playing {
  0% {color: var(--clr-primary-100);}
  10% {color: var(--clr-primary-200);}
  20% {color: var(--clr-primary-300);}
  30% {color: var(--clr-primary-400);}
  40% {color: var(--clr-primary-300);}
  50% {color: var(--clr-primary-200);}
  60% {color: var(--clr-primary-100);}
  70% {color: var(--clr-primary-200);}
  80% {color: var(--clr-primary-300);}
  90% {color: var(--clr-primary-200);}
  }

.tracks .track-name:hover {
  color: var(--clr-text-primary)
}

.relatedArtists h3, .tracks h3  {
  /* border: 1px  yellow solid; */
  /* border-bottom: 1px  var(--clr-primary-300) solid; */
}

