
.Login {
  /* border: 1px red solid; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 300px;
  gap: 10px;
  align-items: center;
  color: white;
  background-color: var(--clr-background-500);
  overflow: hidden;
}

.login-text-container {
  /* border: 1px green solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.login-text-container h2 {
  font-size: 40px;
  color: var(--clr-primary-100);
}

.login-text-container h3 {
  font-size: 36px;
  font-weight: 500;
  color: var(--clr-primary-300)
}

#spotifyLogo {
  margin: 10px;
  height: 4rem;
}


#login-title-container {
  /* border: 1px red solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  letter-spacing: 2rem;
  line-height:1;
  justify-self: flex-end;
}


#login-title {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 440px;
  justify-self: flex-end;
}

